

.logo img {
    max-width: 100px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
    color: white;
    font-family: monospace;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: monospace;
}

main {
    padding: 2rem;

}

section {
    margin-bottom: 2rem;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: monospace;
    align-self: center;
    align-items: center;
    align-content: center;
}

h2 {
    font-size: 15px;
    margin-bottom: 10px;
    font-family: monospace;
    align-self: center;
    align-items: center;
    align-content: center;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
    font-family: monospace;
    align-self: center;
    align-items: center;
    align-content: center;
}

.title {
    text-align: center;
    color: black;
    margin-bottom: 2rem;
    font-size: 40px;
    font-family: monospace;

}

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar {
    background-color: #00120b;
    color: #fff;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    align-self: center;
    margin-bottom: 2rem;
}

h3 {
    font-size: 25px;
    margin-bottom: 10px;
    font-family: monospace;
    align-self: center;
    align-items: center;
    align-content: center;
}