.login {
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
}

.login > a {
  padding: 25px 30px; /* Increased padding */
  border-radius: 99px;
  font-weight: 600;
  font-size: 18px; /* Increased font size */
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: black;
  text-decoration: none; /* Optional: Removes underline from links */
  transition: background-color 0.3s ease; /* Optional: Smooth transition for hover effect */
}

.login > a:hover {
  background-color: #333; /* Optional: Slight change in color on hover */
}

.login {
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

