.mood-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
    height: 10vh;
}

.mood-button {
    font-family: monospace;
  margin: 20px;
  background-size: 100px;
  cursor: pointer;
    font-color: white;
  transition: background-color 0.3s ease;
}

.mood-button:hover {
  background-color: darkviolet;
   color: white;
}

header {
    display: flex;
    align-items: center;
    font-family: monospace;
    background-color: #ffffff;
  text-emphasis-color: white;
}

h2 {
    font-size: 40px;
    font-family: monospace;


}

p {
    color: black;
    font-family: monospace;
    font-size: 20px;
}

.title {
    text-align: center;
    color: black;
    margin-bottom: 2rem;
    font-size: 40px;
    font-family: monospace;

}

.subscript {
    text-align: center;
    color: black;
    margin-bottom: 2rem;
    font-size: 20px;
    font-family: monospace;
}

